.page-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    gap: 5px;
    height: 40px;
    background: white;
    border-top: 2px solid rgb(224, 224, 224);
}

.page-container>button {
    border: none;
    background: transparent;
    font-size: larger;
    font-weight: 600;
    width: 35px;
    height: 30px;
}

button :hover {
    cursor: pointer;
    border-radius: 50px;
    background: darkgrey;
    transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    opacity: 0.5;
    color: black;

}

.page-heading {
    font-size: larger;
    font-weight: 500;

}