{
    "root": true,
    "extends": ["@sanity/eslint-config-studio", "react-app"],
  
    "plugins": ["react-hooks"],
  
    "parserOptions": {
      "parser": "@babel-eslint",
      "ecmaVersion": 2020,
      "sourceType": "module",
      "ecmaFeatures": {
        "impliedStrict": true,
        "jsx": true,
        "modules": true,
        "experimentalObjectRestSpread": true
      }
    },
    "ignorePatterns": ["coverage/", ".nyc_output/"],
  
    "env": {
      "browser": true,
      "node": true,
      "es6": true,
      "worker": true,
      "mocha": true,
      "es2020": true
    },
    "rules": {
      "quotes": "off",
  
      // "quotes": [
      //   2,
      //   "single",
      //   { "avoidEscape": true, "allowTemplateLiterals": true }
      // ],
  
      "max-len": [
        1,
        200,
        {
          "ignoreStrings": true,
          "ignoreTemplateLiterals": true,
          "ignoreComments": true,
          "ignorePattern": "readJson\\(|^import",
          "ignoreUrls": true,
          "tabWidth": 2
        }
      ],
  
      "consistent-return": 0,
      "strict": [1, "safe"],
      "comma-dangle": [1, "always-multiline"],
      "react/jsx-uses-vars": 1,
      "react/display-name": "warn", 
      "object-curly-spacing": ["warn", "always"],
      "react-hooks/rules-of-hooks": "error", 
      "react-hooks/exhaustive-deps": "warn",
      "react/no-unescaped-entities": 1,
      "react/self-closing-comp": [1, { "component": true, "html": false }], 
      "react/jsx-no-undef": 1,
      "react/jsx-no-useless-fragment": [1, { "allowExpressions": true }], 
      "react/jsx-fragments": ["warn", "element"],
      "react/jsx-uses-react": 1, 
      "react/react-in-jsx-scope": 1,
      "react/prop-types": 1,
      "space-infix-ops": 1,
      "prefer-const": 1,
      "operator-linebreak": ["warn", "after", {"overrides": {"?": "ignore", ":": "ignore"}}],
      "arrow-parens": 0,
      "valid-typeof":"warn",
      "valid-jsdoc": [
        0,
        {
          "requireReturn": false,
          "requireParamDescription": false,
          "requireReturnDescription": false
        }
      ],
  
      "no-param-reassign": 1,
      // "function-call-argument-newline": 1,
      // "function-paren-newline": 1,
      "no-plusplus": [1, { "allowForLoopAfterthoughts": true }],
      "import/group-exports": 1,
      "import/exports-last": 1,
      "eqeqeq": 1,
      "indent": [
        1,
        2,
        {
          "SwitchCase": 1,
          "VariableDeclarator": 2,
          "CallExpression": { "arguments": "off" },
          "MemberExpression": "off",
          "FunctionExpression": { "body": 1, "parameters": 2 },
          "ignoredNodes": [
            "ConditionalExpression > :matches(.consequent, .alternate)",
            "VariableDeclarator > ArrowFunctionExpression > :expression.body",
            "CallExpression > ArrowFunctionExpression > :expression.body"
          ]
        }
      ],
      "no-floating-decimal": 1,
      "no-empty": [
        1,
        {
          "allowEmptyCatch": true
        }
      ],
      "no-implicit-coercion": [
        1,
        {
          "boolean": false,
          "number": true,
          "string": true
        }
      ],
      "no-unused-expressions": [
        1,
        {
          "allowShortCircuit": true,
          "allowTernary": false
        }
      ],
      "no-cond-assign": 1,
      "no-useless-escape":"warn", 
      "no-func-assign":"warn",
      "no-redeclare":"warn",
      "no-empty-character-class":"warn",
      "no-self-assign":"warn",
      "no-undef":"warn",
      "no-duplicate-case":"warn",
      "no-control-regex":"warn",
      "no-sparse-arrays":"warn",
      "no-unused-vars": 1,
      "no-console": 1, 
      "no-unexpected-multiline": "warn",
      "no-var": "warn"
    },
  
    "overrides": [
      {
        "files": ["example/e2e/tests/*.ts"],
        "rules": {
          "jest/*": "off"
        }
      },
      {
        "files": ["scripts/*.js"],
        "rules": {
          "import/no-commonjs": "off"
        }
      },
      {
        "files": ["**/config/*.{ts,js}", "*.config.{ts,js}"],
        "rules": {
          "import/no-default-export": "off"
        }
      }
    ]
  }
  