.container {
    box-sizing: border-box;
}

.image-head {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    gap: 20px;
    padding: 20px;
}

.text {
    font-size: 1.875rem;
    font-weight: 700;
    font-family: sans-serif;

}

.sub-text {
    font-family: sans-serif;
    font-size: 20px;
    color: #999999;
}


.item {
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    width: 100%;
    box-sizing: border-box;
}

.sub-item {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
    width: 400px;
    background: #ffffff;
    min-width: 0px;
    overflow-wrap: break-word;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 3.5px 5.5px;
    border-radius: 15px;
    min-height: 83px;
    padding: 10px;
    right: 50px;
}

.item-text {
    color: rgb(160, 174, 192);
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 700;
    padding: 0px 20px;
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 12px;
}

.item-count {
    color: #1f2733;
    font-weight: 700;
    padding: 0px 20px;
    font-weight: 700;
    padding: 0px 90px;
    font-size: 22px;
    letter-spacing: 1px;

}

.search {
    display: block;
    box-sizing: border-box;
    width: 100%;
    margin-top: 10px;
}


.Render-List{
    display: block;
    width: 450px;
    height: 200px;
    position: relative;
    left: 20px;
    top: 5px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.select-item-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2px;
    background: #ffffff;
    box-sizing: border-box;
    width: 450px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 3.5px 5.5px;
    padding: 5px;
    position: relative;
    overflow: scroll;
    overflow-x: hidden;
    flex-direction: column;
    flex-wrap: nowrap;
    color: rgb(160, 174, 192);
  
}

.select-item-container > div {
    border: none;
    width: inherit;
    outline: none;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    position: relative;
    left: 0px;
    text-align: center;
}

.select-item-container > div:hover {
    cursor: pointer;
    background: darkkhaki;
    border-radius: 10px;
}