.dialog-backdrop {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    top: 0;
    left: 0;
}


.modal-container {
    height: 500px;
    border-radius: 12px;
    padding: 10px;
    margin: 10px auto;
    position: fixed;
    width: 100%;
    max-width: 600px;
    left: 50%;
    top: 50%;
    z-index: 11111;
    box-shadow: 0px 2px 6px #000;
    transform: translate(-50%, -50%);
    background-color: #fff;
    display: flex;
    flex-direction: column;


}

.modal-close-btn {
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
}

.modal-close-btn button {
    background-color: transparent;
    border: none;
    font-size: 25px;
    cursor: pointer;
}

.modal-container .modal-title-message {
    display: inline-block;
    text-align: justify;
    margin-top: 10px;
    font-size: 25px;
    color: black;
}

.modal-container .modal-body-message {
    flex: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
    text-align: justify;
    color: rgb(156, 156, 156);
}


.modal-container .modal-footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.modal-container .modal-footer button {
    width: 150px;
    height: 45px;
    margin: 10px;
    border: none;
    background-color: cornflowerblue;
    color: white;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
}

#modal-cancel-button {
    background-color: crimson;
}