.register-container {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    left: 0;
    overflow: hidden;
    position: fixed;
    color: #236095;
}

.register-form {
    /* background: -webkit-linear-gradient(#8CA6DB, #B993D6); */
    background: linear-gradient(#8CA6DB, #B993D6);
    opacity: 0.85;
    filter: alpha(opacity=85);
    width: 400px;
    height: 600px;
    position: absolute;
    top: 45%;
    left: 50%;
    right: 50%;
    padding: 50px 55px;
    transform: translate(-50%, -50%);
    box-shadow: 0px 15px 50px 10px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    color: aliceblue;
}

.register-form * {
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 0.5px;
    outline: none;
    border: none;

}

.register-form h3 {
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 1px;

}

div.register-user-details {
    font-size: 22px;
    font-weight: 500;
    line-height: 42px;

}

div.email-address {
    position: relative;
    top: 10px;
}

div.password {
    position: relative;
    top: 15px;
}

div.confirm-password {
    position: relative;
    top: 22px
}

.register-fields input {
    display: block;
    height: 50px;
    width: 100%;
    border-radius: 3px;
    margin-top: 8px;
    font-size: 20px;
    font-weight: 300;
    padding: 0px 5px;
    background: white
}

::placeholder {
    color: rgb(51 65 85);

}

.account-confirmation {
    display: block;
    position: relative;
    top: 70px;
    text-align: center;
    font-size: 20px;
    font-weight: 500;

}

div.Register-btn{
    width: 100%;
    position: relative;
    top: 45px;
}

.Register-btn button {
    cursor: pointer;
    background: none;
    border: 1px solid rgba(255, 255, 255, 0.65);
    border-radius: 25px;
    color: rgba(255, 255, 255, 0.65);
    -webkit-align-self: flex-end;
    -ms-flex-item-align: end;
    align-self: flex-end;
    font-size: 19px;
    font-family: roboto;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    width: 100%;
    font-size: 25px;
    font-weight: 500;
    height: 45px;
}

.Register-btn button:hover {
    background: rgba(255, 255, 255, 0.15);
    color: #fff;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
  }