.container-link {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    box-shadow: none;
    background-color: #ff8686;
    flex-wrap: wrap;
    width: 100%;
    box-sizing: border-box;
}

.nav-link {
    display: inline-flex;
    justify-content: flex-start;
    align-items: baseline;
    gap: 35px;
    padding: 10px;
    flex-wrap: wrap;
    width: 80%;
}


.heading {
    padding: 10px;
    width: 15%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.log-out-button>button {
    width: 90px;
    height: 28px;
    font-size: 16px;
    border: 1px solid white;
    background: transparent;
    border-radius: 10px;
    color: white;
    letter-spacing: 1px;
}

.log-out-button>button:hover {
    cursor: pointer;
    border: 1px solid #82b188;
    background: #82b188;
}


.isActive {
    text-decoration: none;
    color: grey;
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 18px;
}

.static {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 18px;

}