.container-link {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    box-shadow: none;
    background-color: rgb(51 65 85);
    flex-wrap: wrap;
    width: 100%;
    box-sizing: border-box;
}

.nav-link {
    display: inline-flex;
    justify-content: flex-start;
    align-items: baseline;
    gap: 35px;
    padding: 10px;
    flex-wrap: wrap;
    width: 80%;
}


.button-heading {
    padding: 10px;
    width: 15%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.setting-icon>button {
    border: none;
    background: transparent;
    color: white;
}

.setting-icon>button:hover {
    cursor: pointer;
}


.text-button {
    display: block;
    box-sizing: border-box;
    z-index: 1;
    position: absolute;
    width: 150px;
    right: 15px;

}

.text-button>button {
    width: inherit;
    border: none;
    font-size: larger;
    padding: 5px;
    background: white;
}

.text-button button:hover {
    cursor: pointer;
    background-color: #d4d4d4;
}

.isActive {
    text-decoration: none;
    color: grey;
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 18px;
}

.static {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 18px;

}