.table {
    border-collapse: collapse;
    width: 100%;
    max-width: 1000px;
    margin: 1rem auto;
    text-transform: uppercase;
  }

  .tableThead{
    background-color: plum;
    backdrop-filter: blur(10px);
    inset: 10%;
    z-index: -1;
    color: white;
    font-size: 18px;
    font-weight: 500;
  }
  .tableTh{
    border: 1px solid rgb(206, 206, 206);
    padding: 10px;
    text-align: center;
  }

  .tableTd{
    border: 1px solid rgb(206, 206, 206);
    padding: 10px;
    text-align: center;
  }