@keyframes typewriter {
    from {
        width: 0%;
    }

    to {
        width: 50%;
    }
}

@keyframes blink {
    from {
        border-color: transparent;
    }

    to {
        border-color: transparent;
    }
}


 h2.type-writer-effect {
    font-size: 18px;
    white-space: nowrap;
    overflow: hidden;
    animation: typewriter 2s steps(13) infinite alternate,blink 800ms steps(13) infinite normal;
    border-right: 1px solid transparent;
}