@keyframes typeWriter {

    90%,
    100% {
        width: 100%
    }
}

.type-writer-effect {
    font-size: 50px;
    display: inline-flex;
}

.type-writer-effect span {
    height: 1.2em;
    width: 0%;
    word-break: break-all;
    overflow: hidden;
    animation: typeWriter 2s linear infinite alternate;
}